<div id="aboutArtistHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Bio</h2>
	</div>	
</div>
<!--content-->
<div id="aboutArtistContent" class="row overflow">
	<div class = "col-xs-12 overflow">
		<p>{{bio}}</p><br>
	</div>
</div>
<div id="aboutArtistHeader" class="row">
	<div class = "col-xs-11">
	<h4>Rank: {{rank}}<br>Followers: {{followCount}}</h4>
	</div>
</div>