<!DOCTYPE HTML>
<html>
	<head>
		<title>Manage Account</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div class="contentPane"> 
			<div id="searchDiv">
				<form style="overflow: hidden;">
					<input type="text" class="form-control" placeholder="Search" id="searchBar">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</div>
			<br><br><br>
			<h3 class = "managerHeader">Manage Account</h3>
			<div class="Account Info">
				<form ng-submit="changeAccount($element.action)" method="post" id="manageForm" class="form-horizontal" name = "changeAccountForm" role="form">
					<div class = "form-group" >
						<label for="email" class="control-label col-xs-2 text">Email:</label>
						<div class="col-xs-4">
					      <input type="text" size = 20 class="form-control" id="email" value="{{email}}" readonly>
					    </div>
					</div>
					<div class = "form-group" >
						<label for="firstName" class="control-label col-xs-2 text">First Name:</label>
						<div class="col-xs-4">
					      <input type="text" size = 20 class="form-control" name="formFirstName" id="formFirstName" value="{{firstName}}">
					    </div>
					</div>
					<div class = "form-group" >
						<label for="lastName" class="control-label col-xs-2 text">Last Name:</label>
						<div class="col-xs-4">
					      <input type="text" size = 20 name="formLastName" class="form-control" id="formLastName" value="{{lastName}}">
					    </div>
					</div>
					<div class = "form-group" >
						<label for="dob" class="control-label col-xs-2 text">dob:</label>
						<div class="col-xs-4">
					      <input type="date" id="formDob" name="formDob" placeholder="yyyy-mm" class="form-control" value="{{dob}}">
					    </div>
					</div>
					<input type="submit" name="changeAccount" value="Submit Changes" class = "btn btn-primary manageButton" id = "changeAccount">
				</form>
				<br>
				<a href="#changePassword">
					<button class="btn btn-primary manageButton" id=""  type="button">Change Password</button><br><br>
				</a>
				<button class="btn btn-primary manageButton" id=""  type="button" ng-click = "deleteAccount()">Delete Account</button>
			</div>
		</div>
	</body>
</html>