<!DOCTYPE HTML>
<html>
<head>
    <title> Album </title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="css/homeStyle.css">
    <link rel="stylesheet" href="css/account.css">
</head>
<body>
<div class="contentPane"  ng-controller="addAccountCtrl">
<div style="margin-top: -9em;">
    <div class="formBox" style = "float:left;margin-top: 26%;margin-left:25%;">
        <h2 class="loginHeader2" style = "position:absolute;left: 50.5%;top: 11%;margin-left:-24.5%;">Sign Up User</h2>
        <form  class="signupForm"  ng-submit="createUser()">
            <br/>
            <!--<label>First Name:             </label><br/>-->
            <div class="form-group">
                <input type="text" name="FirstName" placeholder="First Name" ng-model="newfirstName" required="required" class="form-control">
            </div>
            <!--<br/>-->
            <div class="form-group">
                <!--<label>Last Name:             </label><br/>-->
                <input type="text" name="LastName" placeholder="Last Name" ng-model="newlastName" required="required" class = "form-control">
                <!--<br/>-->
            </div>
            <!--<label>Email                 :</label><br>-->
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" ng-model="newemail" required="required" class = "form-control">
            </div>
            <!--<br/>-->
            <div class="form-group">
                <!--<label>Date Of Birth:         </label><br>-->
                <input type="date" name="date" placeholder="yyyy-mm" ng-model="newdate" class="form-control">
                <!--<br/>-->
            </div>
            <!--<label>Password:              </label><br-->
            <div class="form-group">
                <input type="password" name="Password1" placeholder="Password" ng-model="newpassword" required="required" class="form-control">
                <!--<br/>-->
            </div>
            <!--<label>Password Confirmation: </label><br>-->
            <div class="form-group">
                <input type="password" name="Password2" placeholder="Password Confirmation" ng-model="newpassword2" required="required" class = "form-control">
                <!--<br/>-->
            </div>
            <div ng-model="errorText" style = "display: none;">Passwords do not match</div>
            <input type="submit" name="signup_btn" value="Create Account" class = "btn btn-primary" id = "signIn" style = "">
        </form>
        <div ng-show = "createUserSuccess"> Successfully created user: {{userEmail}} ! </div>

        <div ng-show = "createUserFailure"> Error in creating user: {{userEmail}} ! </div>
    </div>
</div>
<div style="margin-top: -9em; left:10em;float:right;">
    <div class="formBox" style = "    margin-top: 167%; margin-left: -209%;">
        <h2 class="loginHeader2" style = "position:absolute;left: 47.0%;top: 11%;margin-left:4.0%;">Sign Up Artist</h2>
        <form  class="signupForm" ng-submit="createArtist()">
            <br/>
            <!--<label>First Name:             </label><br/>-->
            <!--<div class="form-group">-->
                <!--<input type="text" name="FirstName" placeholder="First Name" ng-model="firstName" required="required" class="form-control">-->
            <!--</div>-->
            <!--&lt;!&ndash;<br/>&ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--&lt;!&ndash;<label>Last Name:             </label><br/>&ndash;&gt;-->
                <!--<input type="text" name="LastName" placeholder="Last Name" ng-model="lastName" required="required" class = "form-control">-->
                <!--&lt;!&ndash;<br/>&ndash;&gt;-->
            <!--</div>-->
            <div class="form-group">
                <input type="text" name="groupName" placeholder="Group Name" ng-model="newgroupName" required="required" class="form-control">
            </div>
            <div class="form-group">
                <textarea rows="7" columns="50" style="width: 200px;"type="text" name="bio"  placeholder="Artist Bio" ng-model="newbio" required="required" class="form-control"></textarea>
            </div>
            <!--<label>Email                 :</label><br>-->
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" ng-model="newArtistEmail" required="required" class = "form-control">
            </div>
            <!--<br/>-->
            <div class="form-group">
                <!--<label>Date Of Birth:         </label><br>-->
                <input type="date" name="date" placeholder="yyyy-mm" ng-model="newArtistDate" class="form-control">
                <!--<br/>-->
            </div>
            <!--<label>Password:              </label><br-->
            <div class="form-group">
                <input type="password" name="Password1" placeholder="Password" ng-model="newArtistPassword" required="required" class="form-control">
                <!--<br/>-->
            </div>
            <!--<label>Password Confirmation: </label><br>-->
            <div class="form-group">
                <input type="password" name="Password2" placeholder="Password Confirmation" ng-model="newArtistPassword2" required="required" class = "form-control">
                <!--<br/>-->
            </div>
            <div ng-model="errorText" style = "display: none;">Passwords do not match</div>
            <input type="submit" name="signup_btn" value="Create Account" class = "btn btn-primary" id = "signIn" style = "">
        </form>
        <div ng-show="createArtistSuccess" style = "position: absolute;"> Successfully created Artist: {{artistEmail}} ! </div>

        <div ng-show="createArtistFailure" style = "position: absolute;"> Error in created Artist: {{artistEmail}} ! </div>
    </div>
</div>
</div>
</body>
</html>