<div class="modal">
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button class="close" data-dismiss="modal">&times;</button> 
                <p class="modal-title" >Add To Playlist</p> 
            </div> 
        <div class="modal-body"> 
            <form class="upgradeForm" > 
                <div class="form-group"> 
                <div id="playlistSongs">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Cover</th>
                            </tr>
                        </thead>
                        <tr ng-repeat = "playlist in playlist" ng-click="addToPlaylist(playlist.id, song.id)">
                            <td> {{playlist.title}} </td>
                            <img ng-model = "imageFile" ng-src="images/{{imageFile}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 300px; width:300px;">
                        </tr>
                    </table>
                </div> 
            </form> 
        </div> 
        <div class="modal-footer"> 
            <button class="btn btn-primary" ng-click="cancel()" >Cancel</button> 
        </div> 
    </div> 
</div>