<!DOCTYPE HTML>
<html>
<head>
    <title> Search </title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="css/homeStyle.css">
</head>
<body>
<div class="contentPane" ng-init="showAds()" style = "padding: 100px; padding-bottom: 200px;">
    <button class = "btn btn-primary" ng-click = "adAdd()">Add Advertisement</button>
    <div>
        <div ng-repeat="result in results"><img src="images/{{result.imageLoc}}" style = "height:250px; width:500px; padding:15px;"><button style = "display: inline" class = "btn btn-primary" ng-click = "removeAd(result.adId)">&times;</button></div>
    </div>
</div>
</body>
</html>