<!DOCTYPE HTML>
<html>
	<head>
		<title> Album </title>
		<meta charset = "utf-8">
		<link rel="stylesheet" href="css/homeStyle.css">
	</head>
	<body>
		<div class="contentPane" ng-init="loadInfo()">
			<div id="searchDiv">
				<form style="overflow: hidden;">
					<input type="text" class="form-control" placeholder="Search" id="searchBar">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</div>	
			<div id="playlistInfo">
				<img ng-model = "imageFile" ng-src="images/{{imageFile}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 300px; width:300px;">
				<div id="playlistName">
					<div style="position: relative; top: 5em;">
						<h2> {{title}} </h2>
						<p style="display:inline-block"> By: </p> <a href="#artist/{{artist.artistID}}"> {{artist.name}} </a><br>
						<button class="btn btn-primary playlistPlay" id="playAll"  type="button">Play</button>
						<a href ng-click="addAlbumToLibrary()">
							<button class="btn btn-primary playlistPlay blueButton" ng-hide="savedAlbum" type="button">Save</button>
						</a>
						<a href ng-click="removeAlbumFromLibrary()">
							<button class="btn btn-primary playlistPlay blueButton" ng-show="savedAlbum" type="button">unsave</button>
						</a>
					</div>
				</div>
			</div>
			<div id="playlistSongs">
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th style="width: 8em">#</th>
							<th>Title</th>
							<th>Featuring Artist </th>
							<th>Album</th>
							<th>Date Added </th>
							<th style="width: 6em">Length</th>
						</tr>
					</thead>
					<tr ng-controller = "playlistCtrl" ng-repeat = "song in albumSongs track by $index" ng-dblclick="playSong(song)">
						<td> 
							{{$index + 1}}
							<a href ng-controller = "playlistCtrl" ng-click="addSongToLibrary(song)">
								<button class="btn btn-default songButtons" ng-hide="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-plus"></span></button> 
							</a>
							<a href ng-click="removeSongFromLibrary(song)">
								<button class="btn btn-default songButtons" ng-show="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-minus"></span></button> 
							<a href ng-click>
						</td>
						<td> {{song.title}} </td>
						<td>
							<a ng-repeat = "artist in song.artists" href="#artist/{{artist.artistID}}">
								{{artist.name}} {{$last ? '' : ', '}} 
							</a>
						</td>
						<td>
							<a href="#album/{{song.album.albumId}}">
								{{song.album.title}} 
							</a>
						</td>
						<td> {{song.dateAdded}} </td>
						<td> {{song.length}} </td>
						<!--<td ng-click =  removeSong(song.id)> <h4>&times;</h4> </td>
						<td ng-show = "ownerToggle"  ng-click =  removeSong(song.id)> 
							<button class="btn btn-primary blueButton" >&times;</button> 
						</td>-->
						<td>
						    <div class="dropdown" ng-controller = "playlistCtrl">
						        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-submenu="" aria-expanded="false">
									...
							  		<!--<span class="caret"></span>-->
							  	</button>
						    	<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
						            <li><a href ng-click = "addSongToQueue(song)" class="songDropDown" style="color:white;">Add to Queue</a></li>
						            <li><a href ng-click = "addSong(song)" class="songDropDown" style="color:white;">Add To Playlist</a></li>
						        </ul>
						    </div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>


