<div class="contentPane" ng-init="loadInfo()">
	<div id="searchDiv">
		<form style="overflow: hidden;">
			<input type="text" class="form-control" placeholder="Search" id=searchBar>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</form>
	</div>
	<div id="songInfo">
		<div>
			<div style="position: relative; ">
				<h1> Albums </h1>
			</div>
		</div>
	</div>
	<div id="playlistSongs">
		<div id="publicPlaylistContent" class ="row">
			<div class= "col-xs-2" ng-repeat="album in albumList">
				<a href="#album/{{album.albumId}}">
				<img class="imageHover" ng-model = "imageFile" ng-src="images/{{album.imageLoc}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 100%; width:100%;">
				<h4>{{album.title}}</h4>
				</a>
			</div>
		</div>
	</div>	
</div>