<!DOCTYPE html>
<html>
	<head>
		<title>Artist</title>
		<meta charset="utf-8">
		<script src="js/userPage.js"></script>
	</head>
	<body>
		<div class="contentPane" ng-init="loadInfo()"> 
			<div id="searchDiv">
				<form style="overflow: hidden;">
					<input type="text" class="form-control" placeholder="Search" id=searchBar>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</div>
			<div class="userInfo">
				<img ng-model = "imageFile" ng-src="images/{{albums[0].imageLoc}}" onerror="this.src = 'images/question.jpg'" style="float: left; margin-right: 2em; height: 300px; width:300px;">
				<div>
					<div style="position: relative; top: 5em;">
						<h4 class="userPad">Artist</h4>
						<h1 class="userName">{{artistName}}</h1>
						<button class="btn btn-primary playlistPlay blueButton" ng-click = "setFollowArtist()"  ng-hide = "currentUser" type="button">{{isFollowing ? "Unfollow" : "Follow"}}</button>
					</div>
				</div>
			</div>
			<br><br><br>
			<div class="browseContent text-center">
				<ul class="nav nav-pills">
					<li role="presentation" data-toggle="pill" class="active usernav"><a href id="artistOverviewButton" data-toggle="pill">Overview</a></li>
					<li role="presentation" data-toggle="pill" class="usernav"><a href id="aboutArtistButton" data-toggle="pill">About</a></li>
					<li role="presentation" data-toggle="pill" class="usernav"><a href id="artistConcertButton"  data-toggle="pill">Concerts</a></li>
				</ul>
			</div>
			<div class="container" id="artistOverview" ng-include="'artistOverview.html'"></div>
			<div class="container overflow" id="aboutArtist" ng-include="'aboutArtist.html'" hidden></div>
			<div class="container" id="artistConcert" ng-include="'artistConcert.html'" hidden></div>
		</div>
	</body>
</html>