<div id="artistOverviewPopSongHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Top 5 Popular Songs</h2>
	</div>	
</div>
<!--content-->
<div id="artistOverviewPopSong">
	<table class="table table-hover table-responsive">
		<thead>
			<tr>
				<th style="width: 8em">#</th>
				<th>Title</th>
				<th>Album</th>
				<th>Date Added </th>
				<th style="width: 6em">Length</th>
			</tr>
		</thead>
		<tr ng-controller = "playlistCtrl" ng-repeat = "song in popSong |limitTo:5 track by $index" ng-dblclick="playSong(song)">
			<td> 
				{{$index + 1}}
				<a href ng-click="addSongToLibrary(song)">
					<button class="btn btn-default songButtons" ng-hide="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-plus"></span></button> 
				</a>
				<a href ng-click="removeSongFromLibrary(song)">
					<button class="btn btn-default songButtons" ng-show="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-minus"></span></button> 
				<a href ng-click>
			</td>
			<td> {{song.title}} </td>
			<td>
				<a href="#album/{{song.album.albumId}}">
					{{song.album.title}} 
				</a>
			</td>
			<td> {{song.dateAdded}} </td>
			<td> {{song.length}} </td>
			<td>
			    <div class="dropdown" ng-controller = "playlistCtrl">
			        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-submenu="" aria-expanded="false">
			        	...
				  		<!--<span class="caret"></span>-->
				  	</button>
			    	<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
			            <li><a href ng-click = "addSongToQueue(song)"  class="songDropDown" style="color:white">Add to Queue</a></li>
			            <li><a href ng-click = "addSong(song)"  class="songDropDown" style="color:white">Add To Playlist</a></li>
			        </ul>
			    </div>
			</td>
		</tr>
	</table>
</div>
<br>
<div id="artistOverviewAlbumHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Artist Albums</h2>
	</div>	
</div>
<div id="artistOverviewAlbum" class ="row">
	<div class= "col-xs-2" ng-repeat="list in albums">
		<a href="#album/{{list.albumId}}">
		<img class="imageHover" ng-model = "imageFile" ng-src="images/{{list.imageLoc}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 100%; width:100%;">
		<h4>{{list.title}}</h4>
		</a>
	</div>
</div>