!DOCTYPE html>
<html>
	<head>
		<title>Artist Stats</title>
		<meta charset="utf-8">
		<script src="js/userPage.js"></script>
	</head>
	<body>
		<div class="contentPane" ng-init="loadInfo()"> 
			<div id="searchDiv">
				<form style="overflow: hidden;">
					<input type="text" class="form-control" placeholder="Search" id=searchBar>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</div>
			<div class="userInfo">
				<!--<img ng-model = "imageFile" ng-src="images/{{albums[0].imageLoc}}" onerror="this.src = 'images/man.png'" style="float: left; margin-right: 2em; height: 300px; width:300px;">-->
				<div>
					<div style="position: relative; top: 5em;">
						<h4 class="userPad">Artist</h4>
						<h1 class="userName">{{artist.name}}</h1>
						<h4 class="totalRevenue">${{totalRevenue}}</h4>
					</div>
				</div>
			</div>
			<br><br><br>		
			<div class="container">
				<div id="artistStats">
					<table class="table table-hover table-responsive">
						<thead>
							<tr>
								<th style="width: 8em">#</th>
								<th>Title</th>
								<th>Date Added </th>
								<th>Plays</th>
								<th>Revenue</th>
								<th></th>
							</tr>
						</thead>
						<tr ng-repeat = "song in songList track by $index">
							<td> 
								{{$index + 1}}
							</td>
							<td> {{song.title}} </td>
							<td> {{song.dateAdded}} </td>
							<td> {{song.numPlays}} </td>
							<td>
							    ${{song.songRev}}
							</td>
							<td>
								<button class="btn btn-primary playlistPlay logout" ng-click ="deleteSong(song.id)" type="button">Remove Song</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>