<div id="artistConcertHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Artist Concert</h2>
	</div>	
</div>
<!--content-->
<div id="artistConcertContent" class ="row">
	<div class= "col-xs-2" ng-repeat="concert in concerts">
		<a href="https://seatgeek.com/{{artistName}}-tickets">
			<img ng-model = "imageFile" ng-src="images/{{concert.concertImage}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 100%; width:100%;">
			<h4>{{concert.name}}</h4>
			<h5>{{concert.location}}</h5>
		</a>
	</div>
</div>
<br>