<div class="contentPane" ng-init="loadInfo()">
	<div id="searchDiv">
		<form style="overflow: hidden;">
			<input type="text" class="form-control" placeholder="Search" id=searchBar>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</form>
	</div>
	<div id="songInfo">
		<div>
			<div style="position: relative; ">
				<h1> Artists </h1>
			</div>
		</div>
	</div>
	<div id="playlistSongs">
		<div id="publicPlaylistContent" class ="row">
			<div class= "col-xs-2" ng-repeat="artist in artistList">
				<a href="#artist/{{artist.artistID}}">
				<img class="imageHover" ng-model = "imageFile" ng-src="images/{{artist.albums[0].imageLoc}}" ng-style="artist.noImage && {'margin-top': '-10px'}" onerror="this.src = 'images/question.jpg'" style="float: left; margin-right: 2em; height: 200px; width:200px;">
				<h4>{{artist.name}}</h4>
				</a>
			</div>
		</div>
	</div>	
</div>