<!DOCTYPE HTML>
<html>
    <head>
        <title> Search </title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="css/homeStyle.css">
    </head>
    <body>
        <div class="contentPane" ng-controller = "searchCtrl" style = "padding: 100px; padding-bottom: 200px;">
            <div>
                <form style="overflow: hidden;margin-top: 12px;float:left;" id="searchForm">
                    <input name = "searchTerm" type="text" class="form-control" placeholder="Search" id="searchBar" ng-model = "searchWord">
                    <a href ng-click="doSearchBan(searchWord)">
                        <button type="submit" class="btn btn-default" style="margin-top:1px;" form="searchForm" value="Submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </a>
                </form>
            </div>
            <br><br>
            <h2>Artists</h2>
            <div style="line-height: 200%">
                <div>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <th></th>
                        </thead>
                        <tr ng-repeat="artist in searchResults.artistsNotBan track by $index">
                            <td> 
                                <a href="#artist/{{artist.artistID}}" style = "font-size: 24px; color: #78c0ff;" >{{artist.name}}</a>
                                <!--<a href ng-click="unbanAccountArtist(artist.user.id)">
                                    <button ng-show="artist.user.status" class="btn btn-default songButtons" style="margin-left: 20px;"> 
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </a>
                                <a href ng-click="banAccountArtist(artist.user.id)">
                                    <button ng-hide="artist.user.status" class="btn btn-default songButtons" style="margin-left: 20px;"> 
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </button>
                                </a>-->
                                <button class="btn btn-primary playlistPlay blueButton" ng-click = "setBanArtist(artist)"  ng-hide = "currentUser" type="button">{{artist.user.ban ? "unban" : "ban"}}</button>
                                <button class="btn btn-primary playlistPlay blueButton" ng-click="deleteArtist(artist.user.id)"  ng-hide = "currentUser" type="button">delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <h2>Users</h2>
            <div style="line-height: 200%">
                <div>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <th></th>
                        </thead>
                        <tr ng-repeat="user in searchResults.usersNotBan track by $index">
                            <td>
                                <a href="#userPage/{{user.id}}" style = "font-size: 24px; color: #78c0ff;" >{{user.firstName}} {{user.lastName}}</a>
                                <!--<a href ng-click="banAccount(user.id)">
                                    <button ng-hide="user.status" class="btn btn-default songButtons" style="margin-left: 20px;">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </button>
                                </a>
                                <a ng-click="unbanAccount(user.id)">
                                    <button ng-show="user.status" class="btn btn-default songButtons" style="margin-left: 20px;"> 
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </a>-->
                                <button class="btn btn-primary playlistPlay blueButton" ng-click = "setBanUser(user)"  ng-hide = "currentUser" type="button">{{user.ban ? "unban" : "ban"}}</button>
                                <button class="btn btn-primary playlistPlay blueButton" ng-click ="deleteUser(user.id)" ng-hide = "currentUser" type="button">delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>