<!DOCTYPE HTML>
<html>
	<head>
	    <title> Home </title>
	    <meta charset = "utf-8">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
	    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	    <link rel="stylesheet" href="css/homeStyle.css">
	    <link rel="stylesheet" href="css/userPage.css">
	    <script src="js/browse.js"></script>
		<script src="js/modal.js"></script>
		<script src="js/playlist.js"></script>
		<script src="js/user.js"></script>
		<script src="js/album.js"></script>
		<script src="js/albums.js"></script>
		<script src="js/artist.js"></script>
		<script src="js/artists.js"></script>
		<script src="js/search.js"></script>
		<script src="js/createAccount.js"></script>
		<script src="js/changePassword.js"></script>
		<script src="js/advertisement.js"></script>
		<script src="js/stats.js"></script>
		<script src="js/artistStats.js"></script>
	</head>
	<body>
		<div ng-app = "mySpotify" ng-controller = "browseCtrl" class="mainContainer">
			<div class="navbar navbar-fixed-top navbar-default searchBar" role = "navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<form style="overflow: hidden;margin-top: 12px;float:left;" id="searchForm">
							<input name = "searchTerm" type="text" class="form-control" placeholder="Search" id=searchBar ng-model = "searchWord">
							<a href = "#search/{{searchWord}}">  <button type="submit" class="btn btn-default" style="margin-top:1px;" form="searchForm" value="Submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
							</a>
						</form>
					</div>
					<div class="bs-example" style="float:right;">
						<div class="dropdown" style="margin-top:18px;left:-50px;">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle dropdownButton">{{firstName}} {{lastName}} <b class="caret"></b></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a href="#userPage/{{userID}}" id="text" class="btn btn-primary dropdownElement blueDrop">User Page</a>
								</li>
								<li ng-hide="isArtist">
									<a href="#manageAccount" id="text" class="btn btn-primary dropdownElement blueDrop">Manage Account</a>
								</li>
								<li ng-show="isAdmin">
									<a href="#/addAccount" id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Add User Account</a>
								</li>
								<li ng-show="isAdmin">
									<a href="#banUser" id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Ban User Account</a>
								</li>
								<li ng-show="isAdmin">
									<a href="#/advertisements" id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Advertisements</a>
								</li>
								<li ng-show="isAdmin">
									<a href="#/stats" id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">See Site Statistics</a>
								</li>
								<li>
								<li ng-show="isArtist">
									<a href="#artistStats" id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Artist Statistics</a>
								</li>
								<li ng-show="isArtist" ng-click = "addSong()">
									<a href id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Add Song</a>
								</li>
								<li ng-show="isArtist">
									<a href id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Remove Song</a>
								</li>
								<li ng-show="isArtist">
									<a href id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Add Concert Info</a>
								</li>
								<li ng-show="isArtist">
									<a href="#artistAccount" id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop">Update Info</a>
								</li>
								<li ng-hide="isArtist">
									<button class="btn btn-primary upgradePrem dropdownElement" id=""  type="button" data-target="#upgrade" data-toggle="modal" ng-hide = "isPremium" ng-click = "upgradeToPremium()">Upgrade To Premium</button>
								</li>
								<li ng-hide="isArtist">
									<button class="btn btn-primary upgradePrem dropdownElement" id=""  type="button" data-target="#upgrade" data-toggle="modal" ng-show = "isPremium" ng-click = "downgradePremium()">Cancel Premium</button>
								</li>
								<!--<li>-->
									<!--<a href="#changePassword" id="text" class="btn btn-primary playlistPlay dropdownElement">Change Password</a>-->
								<!--</li>-->
								<li>
									<form  action = "/logout" method = "POST">
										<input class = "btn btn-primary playlistPlay logout dropdownElement" type="submit" name="Logout" value="Logout"/>
									</form>
								</li>
							</ul>
						</div><br>
					</div>
					<div class="dropdown" style="float:right;margin-top:18px;left:-250px;">
						<a ng-show="isPremium" href="#" data-toggle="dropdown" class="dropdown-toggle dropdownButton"> Language <b class="caret"></b></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li>
								<label><input style="margin-left:5px;" type="radio" ng-model="value" value="0" ng-change="saveLang(value)" ng-checked="lang === 'ENGLISH'">English</label>
							</li>
							<li>
								<label><input style="margin-left:5px;" type="radio" ng-model="value" value="1" ng-change="saveLang(value)" ng-checked="lang === 'SPANISH'">Spanish</label>
							</li>
							<li>
								<label><input style="margin-left:5px;" type="radio" ng-model="value" value="2" ng-change="saveLang(value)" ng-checked="lang === 'ITALIAN'">Italian</label>
							</li>
							<li>
								<label><input style="margin-left:5px;" type="radio" ng-model="value" value="3" ng-change="saveLang(value)" ng-checked="lang === 'FRENCH'">French</label>
							</li>
							<li>
								<label><input style="margin-left:5px;" type="radio" ng-model="value" value="4" ng-change="saveLang(value)" ng-checked="lang === 'CHINESE'">Chinese</label>
							</li>
							<li>
								<label><input style="margin-left:5px;" type="radio" ng-model="value" value="5" ng-change="saveLang(value)" ng-checked="lang === 'JAPANESE'">Japanese</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		    <div class="leftBar">
		        <div class="leftBarLinks">
		            <!--<a href ="#user/{{userID}}" style="margin-top:3px;margin-left:1px;">{{firstName}} {{lastName}}</a><br>-->
		            <a href="#/" class = "btn btn-primary" id = "homeLink" style="margin-top:12px;margin-left:25%;">Home</a><br>
		            <!--<button class="btn btn-primary upgradePrem" id=""  type="button" data-target="#upgrade" data-toggle="modal" ng-hide = "isPremium" ng-click = "upgradeToPremium()">Upgrade To Premium</button>-->
					<!--<button class="btn btn-primary upgradePrem" id=""  type="button" data-target="#upgrade" data-toggle="modal" ng-show = "isPremium" ng-click = "downgradePremium()">Cancel Premium</button>-->
					<!--<form  action = "/logout" method = "POST">-->
		            	<!--<input class = "btn btn-primary playlistPlay logout" type="submit" name="Logout" value="Logout" />-->
		            <!--</form>-->
		            <h2> Your Library </h2>
		            <div style="line-height: 200%;">
		                <a href="#song" > Songs </a><br>
		                <a href="#queue"> Queue </a><br>
		                <a href="#albums"> Albums </a><br>
		                <a href="#artists"> Artists </a><br>
		            </div>
		            <h2> Playlists </h2>
		            <div style="line-height: 200%">
		                <div ng-repeat="playlist in playlists"><a href="#playlist/{{playlist.playlistId}}" >{{playlist.title}}</a></div>
		            </div>
		            <button class="btn btn-primary green" id="addPlaylist" type="button" ng-click = "open()" >Add New PlayList</button>
		        </div>
		    </div>
		    <div class="ng-view"></div>
		    <div class="rightBar">
		        <h3 style="margin-left: 20px;"> Friends Activity </h3>
		        <br>
		        <div id="friendList" style="margin-left: 30px;">
					<div id="friendList" ng-repeat="f in friends | limitTo:6">
						<a href="#userPage/{{f.id}}"> •{{f.firstName}} {{f.lastName}}</a>
						<span><h5>Last Song Played:</h5>
							<a href="#album/{{f.lastSong.album.albumId}}"><h6>{{f.lastSong.title}}</h6></a></span><br>
					</div>
				</div>
				<div>
					<a href="#friendSearch" id="text" class="btn btn-primary playlistPlay dropdownElement blueDrop" style="margin-left:30px;width:150px;">Search Friends</a>
				<div>
		    </div>
		    <nav class="navbar navbar-inverse navbar-fixed-bottom">
				<div ng-hide = "isPremium">
					<h2 ng-show = "showAd" ng-click = "closeAd()" style = "position: absolute; cursor: pointer; top: -147px; margin-left: 1471px; z-index: 1;">&times;</h2>
					<img ng-show = "showAd"  ng-model = "displayedAd" ng-src = "images/{{displayedAd}}" onerror="this.src = 'images/advertisement.jpg'" style = "position: absolute; top: -130px; height: 130px; width: 1120px; margin-left: 380px;">
					<div class = "rounded-top" ng-click = "openAd()" ng-hide = "showAd" style = "background: blue; color: white; height: 24px; position: absolute; width: 90px; text-align: center; margin-left: 910px; top: -24px; cursor: pointer; opacity: 0.95; border-top-right-radius: 43%; border-top-left-radius: 40%;">Open Ad</div>
				</div>
		        <div class="container-fluid">
		            <div class="navbar-header" style = "position: absolute;">
		                <a class="navbar-brand" href="#">{{songName}}</a><br>
		                <a class="navbar-brand" href="#" ng-repeat = "artist in artists" id="currentSongArtist">{{artist.name}} {{$last ? '' : ', '}}</a>
		            </div>
		            <div class="buttonDiv">
                        <audio autoplay ng-model = songLocation ng-src="{{songLocation}}"  onerror="this.src = 'songs/sample.wav'" id="mySong"></audio>
						<button class="btn btn-default musicButtons" ng-click = "showLyrics()" style = "margin-left: -101px;" ng-disabled = "!lyricsToggle"> <span> Show Lyrics</span></button>
                        <button class="btn btn-default musicButtons" style="margin-right: 20px;" ng-click = "setShuffleToggle()" ng-class="{'trueToggle' : shuffleToggle}"> <span class="glyphicon glyphicon-random"></span></button>
		                <button class="btn btn-default musicButtons" ng-disabled = "!previousToggle" ng-click = "previousSong()"> <span class="glyphicon glyphicon-step-backward"></span></button>
		                <button class="btn btn-default musicButtons" ng-hide = "playToggle" ng-click="play()" ng-disabled = !songLoaded> <span class="glyphicon glyphicon-play" ></span></button>
                        <button class="btn btn-default musicButtons" ng-show = "playToggle" ng-click="pause()" > <span class="glyphicon glyphicon-pause" ></span></button>
		                <button class="btn btn-default musicButtons" ng-click = "nextSong()" ng-disabled = "!nextToggle"> <span class="glyphicon glyphicon-step-forward"></span></button>
		                <button class="btn btn-default musicButtons" style="margin-left: 20px;"  ng-hide = "repeatToggleMultiple" ng-click = "setRepeatToggle()" ng-class="{'trueToggle' : repeatToggleSingle}"> <span class="glyphicon glyphicon-repeat">1</span></button>
						<button class="btn btn-default musicButtons" style="margin-left: 20px;" ng-show = "repeatToggleMultiple" ng-click = "turnOffRepeat()" ng-class="{'trueToggle' : repeatToggleMultiple}"> <span class="glyphicon glyphicon-repeat"></span></button>
						<button class="btn btn-default musicButtons" ng-hide = "muteToggle" ng-click="mute()" style = "margin-left: 20px"> <span class="glyphicon glyphicon-volume-up"  ></span></button>
						<button class="btn btn-default musicButtons" ng-show = "muteToggle" ng-click="unmute()"  style = "margin-left: 20px" > <span class="glyphicon glyphicon-volume-off" ></span></button>
						<div ng-mousedown = 'changeVolume($event)' class="progress" style="    width: 80px; height: 9px; margin-left: 315px; margin-top: -20px;">
							<div class="progress-bar active progress-bar-green" role="progressbar" aria-valuenow={{volume}} aria-valuemin="0" aria-valuemax="1" style="width: {{volume}}"></div>
						</div>
		            </div><br>
		        </div>
		        <div ng-mousedown = 'scrubSong($event)' class="progress" style="width:50%; margin-top: 80px;">
					<h4 style = "position: absolute; right: 74%; top: 89px;" ng-show = "songLoaded">{{currentTime}} / {{duration}}</h4>
		            <div class="progress-bar progress-bar-striped active progress-bar-green" role="progressbar" aria-valuenow={{progress}} aria-valuemin="0" aria-valuemax="1" style="width: {{progress}}"></div>
		        </div>
		    </nav>
		</div>
	</body>
</html>
