<!DOCTYPE HTML>
<html>
<head>
    <title> Change Password </title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="css/homeStyle.css">
</head>
<body>
<div class="contentPane" ng-init="changePasswordRequest()" style = "padding: 100px; padding-bottom: 200px;">
    <h2>Check Email for Code</h2>
    <form>

        <br/>
        <div class="form-group">
            <input type="password" name="oldPassword" placeholder="Current Password" ng-model="change.oldPassword" required="required" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="newPassword" placeholder="New Password" ng-model="change.newPassword" required="required" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="newPassword2" placeholder="Confirm New Password" ng-model="newPassword2" required="required" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="vCode" placeholder="VerificationCode" ng-model="change.vCode" required="required" class="form-control">
        </div>
        <br/>
        <a ng-click ="changePassword()" class = "btn btn-primary loginButtons">Change Password</a>

    </form>

    <div ng-show = "showFailure" style = "color:red;">Make sure All fields are correct</div>
    <div ng-show = "showSuccess"style = "color:green;">Success!</div>
</div>
</body>
</html>