<script type="text/ng-template" id="myModalContent.html">
    <div class="modal" id="newPlaylist" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title" >Create New Playlist</p>
                </div>
                <div class="modal-body">
                    <form class="upgradeForm" >
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" name="imageFile">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name" type="text" id="playlistName">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" placeholder="Description" type="textarea" id="description" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button  ng-click = "createPlaylist()" class="btn btn-primary">Create</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
	</div>
</script>