<div id="followingHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Friends</h2>
	</div>	
</div>
<!--content-->
<div id="followingContainer" class ="row">
	<div class= "col-xs-2" ng-repeat="f in following">
		<a href="#userPage/{{f.id}}">
		<img class="imageHover" ng-model = "imageFile" ng-src="images/{{f.userImageLoc}}" onerror="this.src = 'images/question.jpg'" style="float: left; margin-right: 2em; height: 100%; width:100%;">
		<h4>{{f.firstName}} {{f.lastName}}</h4>
		</a>
	</div>
</div>
<br>