<div id="followingArtistHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Following Artist</h2>
	</div>	
</div>
<!--content-->
<div id="followingArtistContent" class ="row">
	<div class= "col-xs-2" ng-repeat="artist in artistFollowing">
		<a href="#artist/{{artist.artistID}}">
		<img class="imageHover" ng-model = "imageFile" ng-src="images/{{albums[0].imageLoc}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 100%; width:100%;">
		<h4>{{artist.name}}</h4>
		</a>
	</div>
</div>
<br>