<div id="followingPlaylistHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Following Playlist</h2>
	</div>	
</div>
<!--content-->
<div id="followingPlaylistContent" class ="row">
	<div class= "col-xs-2" ng-repeat="playlist in followingPlaylist">
		<a href="#playlist/{{playlist.playlistId}}">
		<img class="imageHover" ng-model = "imageFile" ng-src="images/{{playlist.imageLoc}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 150px; width:150px;">
		<h4>{{playlist.title}}</h4>
		</a>
	</div>
</div>
<br>