<!DOCTYPE HTML>
<html>
    <head>
        <title> Search Friend </title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="css/homeStyle.css">
    </head>
    <body>
        <div class="contentPane" ng-controller = "searchCtrl" style = "padding: 100px; padding-bottom: 200px;">
            <div>
                <form style="overflow: hidden;margin-top: 12px;float:left;" id="searchForm">
                    <input name = "searchTerm" type="text" class="form-control" placeholder="Search" id="searchBar" ng-model = "searchWord">
                    <a href ng-click="doFriendSearch(searchWord)">
                        <button type="submit" class="btn btn-default" style="margin-top:1px;" form="searchForm" value="Submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </a>
                </form>
            </div>
            <br><br>
            <h2>Friends</h2>
            <div style="line-height: 200%">
                <div>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <th></th>
                        </thead>
                        <tr ng-repeat="user in friendResults track by $index">
                            <td>
                                <a href="#userPage/{{user.id}}" style = "font-size: 24px; color: #78c0ff;" >{{user.firstName}} {{user.lastName}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>