<!DOCTYPE HTML>
<html>
	<head>
		<title> Login </title>
		<meta charset = "utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>	
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="css/homeStyle.css">
		<link rel="stylesheet" href="css/login.css">
	</head>
	<body>
		<div class="mainContainer">
			<div class="pane">
				<img class = "loginLogo" src="images/Spotify.gif">
				<div ng-controller="formController">
					<h2 class="loginHeader2">Log in</h2>
					<form class="loginForm" method="post" action="/verifyUser">
						<br/>
						<div class="form-group">
							<input type="text" name="userName" placeholder="Email" ng-model="user.name" required="required" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="Passwords" placeholder="Password" ng-model="user.password" required="required" class="form-control">
						</div>
						<input type="submit" name="sigin_bnt" value="Sign In" class = "btn btn-primary" id = "signIn">
						<br/>
						<a href="signupPage.html" class = "btn btn-primary loginButtons">Sign Up</a>
					</form>
				</div>	
			</div>
		</div>
	</body>
</html>
