<!DOCTYPE HTML>
<html>
	<head>
		<title> Playlist </title>
		<meta charset = "utf-8">

	</head>
	<body>
		<div class="contentPane" ng-init="loadInfo()">
			<div id="searchDiv">
				<form style="overflow: hidden;">
					<input type="text" class="form-control" placeholder="Search" id=searchBar>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</div>
			<div id="playlistInfo">
				<img ng-model = "imageFile" ng-src="images/{{imageFile}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em; height: 300px; width:300px;">
				<button ng-show = "ownerToggle" class="btn btn-primary" ng-show = "currentUser" ng-click = "changePic()">Change Playlist Image </button>
				<div id="playlistName">
					<div style="position: relative; top: 5em;">
						<p> Playlist </p>
						<div ng-hide = "titleEditToggle">
							<h4 style="display:inline"> {{title}} </h4>
							<h4 class = "glyphicon glyphicon-cog" ng-show ="ownerToggle" ng-click = "setTitleEditable()"></h4>
						</div>
						<div ng-show = "titleEditToggle">
							<input style = "color: black" ng-model = "editedTitle">
							<h4 class = "glyphicon glyphicon-ok" ng-click = "titleEditSave()"></h4>
							<h4 class = "glyphicon glyphicon-remove" ng-click = "titleEditCancel()"></h4>
						</div>
						<p style="display:block"> Created By: </p> <a ng-repeat = "owner in owners" href="#userPage/{{owner.id}}"> {{owner.firstName}} {{owner.lastName}} {{$last ? '' : ', '}} </a><br>
						<h4> Description </h4>
						<p> {{description}} </p>
						<button class="btn btn-primary playlistPlay" id="playAll" ng-click = "playAll()" type="button">Play</button>
						<button class="btn btn-primary playlistPlay" id="deletePlaylist" ng-show = "ownerToggle" ng-click="deletePlaylist()" type="button">Delete Playlist</button>
						<button class="btn btn-primary playlistPlay blueButton" ng-click = "setFollow()" ng-hide = "ownerToggle" type="button">{{following ? "UnFollow" : "Follow"}}</button>
						<h4 style = "padding-bottom: 60px;" >Followers: {{followerCount}}</h4>
					</div>
				</div>
			</div>
			<div id="playlistSongs">
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th style="width: 8em">#</th>
							<th>Title</th>
							<th>Artist </th>
							<th>Album</th>
							<th>Date Added </th>
							<th style="width: 6em">Length</th>
						</tr>
					</thead>
					<tr ng-repeat = "song in songs track by $index" ng-dblclick="playSong(song)">
						<td> 
							{{$index + 1}}
							<a href ng-click="addSongToLibrary(song)">
								<button class="btn btn-default songButtons" ng-hide="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-plus"></span></button> 
							</a>
							<a href ng-click="removeSongFromLibrary(song)">
								<button class="btn btn-default songButtons" ng-show="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-minus"></span></button> 
							</a>
						</td>
						<td> {{song.title}} </td>
						<td>
							<a ng-repeat = "artist in song.artists" href="#artist/{{artist.artistID}}">
								{{artist.name}} {{$last ? '' : ', '}}
							</a>
						</td>
						<td>
							<a href="#album/{{song.album.albumId}}">
								{{song.album.title}} 
							</a>
						</td>
						<td> {{song.dateAdded}} </td>
						<td> {{song.length}} </td>
						<!--<td ng-click =  removeSong(song.id)> <h4>&times;</h4> </td>
						<td ng-show = "ownerToggle"  ng-click =  removeSong(song.id)> 
							<button class="btn btn-primary blueButton" >&times;</button> 
						</td>-->
						<td>

						     <div class="dropdown">
						        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-submenu="" aria-expanded="false">
						        	...
							  		<!--<span class="caret"></span>-->
							  	</button>
						    	<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
						            <li><a href  class="songDropDown" ng-click = "addSongToQueue(song)" style="color:white">Add to Queue</a></li>
						            <li><a href  class="songDropDown" ng-show = "ownerToggle" ng-click = removeSong(song.id) style="color:white">Remove From This Playlist</a></li>
						            <li><a href  class="songDropDown" ng-click = "addSong(song)" style="color:white">Add To Playlist</a></li>
						        </ul>
						    </div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>