<div class="contentPane">
	<div id="searchDiv">
		<form style="overflow: hidden;">
			<input type="text" class="form-control" placeholder="Search" id=searchBar>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</form>
	</div>
	<div id="songInfo" ng-init ="setQueue()">
		<div>
			<div style="position: relative; ">
				<h1> Queue </h1>
				<button ng-controller = "playlistCtrl" class="btn btn-primary playlistPlay" id="playAll" ng-click = "playAll()" type="button">
					Play
				</button>
				<a href ng-click="resetQueue()">
					<button class="btn btn-primary playlistPlay" id="playAll"  type="button">
					Reset</button>
				</a>
			</div>
		</div>
	</div>
	<div id="playlistSongs">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th style="width: 8em">#</th>
					<th>Title</th>
					<th>Artist </th>
					<th>Album</th>
					<th>Date Added </th>
					<th style="width: 6em">Length</th>
				</tr>
			</thead>
			<tr ng-controller = "playlistCtrl" ng-repeat = "song in queue.songs track by $index" ng-dblclick="playSong(song)" ng-controller = "playlistCtrl">
				<td> 
					{{$index + 1}}
					<a href ng-click="addSongToLibrary(song)">
						<button class="btn btn-default songButtons" ng-hide="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-plus"></span></button> 
					</a>
					<a href ng-click="removeSongFromLibrary(song)">
						<button class="btn btn-default songButtons" ng-show="song.inLibrary" style="margin-left: 20px;"> <span class="glyphicon glyphicon-minus"></span></button> 
					</a>
				</td>
				<td> {{song.title}} </td>
				<td>
					<a ng-repeat = "artist in song.artists" href="#artist/{{artist.artistID}}">
					{{artist.name}} {{$last ? '' : ', '}}
					</a>
				</td>
				<td> 
					<a href="#album/{{song.album.albumId}}">
						{{song.album.title}} 
					</a>
				</td>
				<td> {{song.dateAdded}} </td>
				<td> {{song.length}} </td>
				<!--<td ng-click =  removeSong(song.id)> <h4>&times;</h4> </td>
				<td ng-show = "ownerToggle"  ng-click =  removeSong(song.id)> 
					<button class="btn btn-primary blueButton" >&times;</button> 
				</td>-->
				<td>
					<div class="dropdown" ng-controller = "playlistCtrl" >
					    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-submenu="" aria-expanded="false">
					   	...
						<!--<span class="caret"></span>-->
					  	</button>
					   	<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
						    <li><a href   class="songDropDown" ng-click = "removeSongFromQueue(song)" class="songDropDown" style="color:white">Remove From Queue</a></li>
						    <li><a href   class="songDropDown" ng-click = "addSong(song)"  class="songDropDown" style="color:white">Add To Playlist</a></li>
						</ul>
				    </div>
				</td>
			</tr>
		</table>
	</div>	
</div>