<!DOCTYPE HTML>
<html>
<head>
    <title> Search </title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="css/homeStyle.css">
</head>
<body>
<div class="contentPane" ng-init="doSearch()" style = "padding: 100px; padding-bottom: 200px;">
    <div>
    <h2> Playlists </h2>
    <div style="line-height: 200%">
        <div ng-repeat="playlist in results.playlists"><a href="#playlist/{{playlist.playlistId}}" style = "font-size: 24px; color: #78c0ff;">{{playlist.title}}</a></div>
    </div>
    <h2>  Albums </h2>
    <div style="line-height: 200%">
        <div ng-repeat="album in results.albums"><a href="#album/{{album.albumId}}" style = "font-size: 24px; color: #78c0ff;">{{album.title}}</a></div>
    </div>
    <h2>  Artists </h2>
    <div style="line-height: 200%">
        <div ng-repeat="artist in results.artists"><a href="#artist/{{artist.artistID}}" style = "font-size: 24px; color: #78c0ff;" >{{artist.name}}</a></div>
    </div>
    <h2>  Users </h2>
    <div style="line-height: 200%">
        <div ng-repeat="user in results.users"><a href="#userPage/{{user.id}}" style = "font-size: 24px; color: #78c0ff;" >{{user.firstName}} {{user.lastName}}</a></div>
    </div>
    <h2>  Songs </h2>
    <div style="line-height: 200%">
        <div ng-repeat="song in results.songs"><a href="#album/{{song.album.albumId}}" style = "font-size: 24px; color: #78c0ff;" >{{song.title}}</a></div>
    </div>
    </div>
</div>
</body>
</html>