<!DOCTYPE HTML>
<html>
	<head>
		<title> Sign Up </title>
		<meta charset = "utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="css/homeStyle.css">
		<link rel="stylesheet" href="css/login.css">
	</head>
	<body>
		<div class="mainContainer" style="min-height: 25vh;">
			<div class="pane">
				<div ng-app="signUp" ng-controller="formCtrl" style="margin-top: -7em;">
					<img class = "loginLogo" src="images/Spotify.gif">
					<div class="formBox" style = "margin-top: 23%;">
						<h2 class="loginHeader2" style = "position:absolute;left: 46.5%;top: 0%;">Sign Up</h2>
						<form  class="signupForm" action="/signup" method = "post">
							<br/>
							<!--<label>First Name:             </label><br/>-->
							<div class="form-group">
								<input type="text" name="FirstName" placeholder="First Name" ng-model="firstName" required="required" class="form-control">
							</div>
							<!--<br/>-->
							<div class="form-group">
							<!--<label>Last Name:             </label><br/>-->
								<input type="text" name="LastName" placeholder="Last Name" ng-model="lastName" required="required" class = "form-control">
							<!--<br/>-->
							</div>
							<!--<label>Email                 :</label><br>-->
							<div class="form-group">
								<input type="email" name="email" placeholder="Email" ng-model="email" required="required" class = "form-control">
							</div>
							<!--<br/>-->
							<div class="form-group">
								<!--<label>Date Of Birth:         </label><br>-->
								<input type="date" name="date" placeholder="yyyy-mm" class="form-control">
								<!--<br/>-->
							</div>
							<!--<label>Password:              </label><br-->
							<div class="form-group">
								<input type="password" name="Password1" placeholder="Password" ng-model="password" required="required" class="form-control">
							<!--<br/>-->
							</div>
							<!--<label>Password Confirmation: </label><br>-->
							<div class="form-group">
								<input type="password" name="Password2" placeholder="Password Confirmation" ng-model="password2" required="required" class = "form-control">
							<!--<br/>-->
							</div>
							<div ng-model="errorText" style = "display: none;">Passwords do not match</div>
							<input type="submit" name="signup_btn" value="Create Account" class = "btn btn-primary" id = "signIn" style = "margin-left: 45%;">
							<br/>
							<a href="/login" class="btn btn-primary loginButtons" style = "margin-left: 45%;">Back To Home</a>
						</form>		
					</div>
				</div>			
			</div>
		</div>
	</body>
</html>

