<!DOCTYPE HTML>
<html>
<head>
    <title> Site Statistics </title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="css/homeStyle.css">
</head>
<body>
<div class="contentPane" ng-init="loadStats()">
    <div style = "text-align:center;margin-top:10%;">
        <h2 style="color:#4CAF50;">Number of Total Plays: <strong style="color:white;"> {{numPlays}} </strong> </h2>
        <h2 style="color:#4CAF50;">Total Royalities Give Out: <strong style="color:white;"> ${{royalties}} </strong></h2>
        <h2 style="color:#4CAF50;">Number of Regular Users Registered: <strong style="color:white;"> {{regUserCount}} </strong></h2>
        <h2 style="color:#4CAF50;">Number of Premium Users Registered: <strong style="color:white;"> {{premiumUserCount}} </strong></h2>
        <h2 style="color:#4CAF50;">Number of Artists Registered: <strong style="color:white;"> {{artistCount}}</strong></h2>
        <h2 style="color:#4CAF50;">Number of Songs in Spotify: <strong style="color:white;"> {{songCount}}</strong></h2>
        <h2 style="color:#4CAF50;">Number of Albums in Spotify: <strong style="color:white;"> {{albumCount}}</strong></h2>
    </div>
</div>
</body>
</html>