<div class="modal" id="upgrade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;
                </button>
                <p class="modal-title" >Upgrade To Premium</p>
            </div>
            <div class="modal-body">
                <form class="upgradeForm" >
                    <div class="form-group">
                        <div class="premiumInfo">
                            <h1>Premium free for 30 days: $9.99</h1>
                            <ul>
                                <li>Download Music</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="Name">Name</label> <input class="form-control" placeholder="Name" type="text" id="cardName" ng-model="card.name">
                        </div>
                        <div class="form-group">
                            <label for="Name">Card Number</label>
                            <input class="form-control" placeholder="Card Number" type="number" pattern="[0-9]{16}" id="cardNum" ng-model="card.num">
                        </div>
                        <div class="form-group">
                            <label for="Name">Expiration Date</label>
                            <input class="form-control"  type="month" id="cardDate" ng-model = "card.date">
                        </div>
                        <div class="form-group">
                            <label for="Name">Security Code</label>
                            <input class="form-control" placeholder="Security Code" type="number" id="cardCode" pattern="[0-9]{3}" ng-model = "card.code">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click = "upgrade()">Start Premium</button>
                <button class="btn btn-primary" data-dismiss="modal" ng-click = "cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>



