<!DOCTYPE HTML>
<html>
	<head>
		<title>User</title>
		<meta charset="utf-8">
		<script src="js/userPage.js"></script>
	</head>
	<body>
		<div class="contentPane" ng-init="loadInfo()"> 
			<div id="searchDiv">
				<form style="overflow: hidden;">
					<input type="text" class="form-control" placeholder="Search" id=searchBar>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</div>
			<div class="userInfo">
				<a href><img  class="userImage" ng-model = "userImageLoc" ng-src="images/{{userImageLoc}}" onerror="this.src = 'images/question.jpg'" style="float: left; margin-right: 2em"></a>
				<button class="btn btn-primary" ng-show = "currentUser" ng-click = "changePic()">Change Profile Picture</button>
				<button class="btn btn-primary" ng-show = "currentUser" ng-click = "removePic()">Remove Profile Picture</button>
				<div>
					<div style="position: relative; top: 5em;">
						<h4 class="userPad">User</h4>
						<h1 class="userName">{{user.firstName}} {{user.lastName}}</h1>
						<button class="btn btn-primary playlistPlay blueButton" ng-click=setUserFollow(user)  ng-hide = "currentUser" type="button">{{isFollowing ? "UnFollow" : "Follow"}}</button>
					</div>
				</div>
			</div>
			<br>
			<div class="browseContent text-center">
				<ul class="nav nav-pills">
					<li role="presentation" data-toggle="pill" class="active usernav"><a href id="overViewButton">Overview</a></li>
					<li role="presentation" data-toggle="pill" class="usernav"><a href id="publicPlaylistButton">Public Playlist</a></li>
					<li role="presentation" data-toggle="pill" class="usernav"><a href id="followingPlaylistButton">Following Playlist</a></li>
					<li role="presentation" data-toggle="pill" class="usernav"><a href id="followingArtistButton">Following Artist</a></li>
					<li role="presentation" data-toggle="pill" class="usernav"><a href id="followingButton">Friends</a></li>
					<li role="presentation" data-toggle="pill" class="usernav"><a href id="followersButton">Followers</a></li>
				</ul>
			</div>
			<div class="container" id="userOverview" ng-include="'userOverview.html'"></div>
			<div class="container" id="publicPlaylist" ng-include="'publicPlaylist.html'" hidden></div>
			<div class="container" id="followingPlaylist" ng-include="'followingPlaylist.html'" hidden></div>
			<div class="container" id="followingArtist" ng-include="'followingArtist.html'" hidden></div>
			<div class="container" id="following" ng-include="'following.html'" hidden></div>
			<div class="container" id="followers" ng-include="'followers.html'" hidden></div>
		</div>
	</body>
</html>