<div id="publicPlaylistHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Public Playlist</h2>
	</div>	
</div>
<!--content-->
<div id="publicPlaylistContent" class ="row">
	<div class= "col-xs-2" ng-repeat="playlist in publicPlaylist|limitTo:4">
		<a href="#playlist/{{playlist.playlistId}}">
		<img class="imageHover" ng-model = "imageFile" ng-src="images/{{playlist.imageLoc}}" onerror="this.src = 'images/chance.jpg'" style="float: left; margin-right: 2em;">
		<h4>{{playlist.title}}</h4>
		</a>
	</div>
</div>
<br>
<div id="followingHeader" class="row">
	<div class= "col-xs-11">
	  	<h2>Following</h2>
	</div>	
</div>
<div id="publicPlaylistContent" class ="row">
	<div class= "col-xs-2" ng-repeat="list in following|limitTo:4">
		<a href="#userPage/{{list.id}}">
		<img class="imageHover userImage2" alt="Avatar" src="images/question.jpg" style="float: left; margin-right: 2em">
		<h4 class="roundImageText">{{list.firstName}} {{list.lastName}}</h4>
		</a>
	</div>
</div>