body{
	margin:0px;
	padding:0px;
	background-color: #3b444b;
	font-family: 'Montserrat' !important
}

.loginForm{
	text-align:center;
	margin-top: 3%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}

#signIn {
    background-color: #4CAF50;
}

.loginButtons {
    font-color: white;
    width: 200px;
    margin-left: -2px;
}



.signupForm{
	margin-left:10px;
	text-align:left;

}
.signupForm input{
	color:black;
	margin-bottom: 25px;
	width: 200px;
}

.signupForm a{
	margin-top: 10px;
}
.signupForm button[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	width: 200px;
	color:#FFFFFF;
	background:#262626;
	margin-top: 25px;
	margin-bottom: 25px;
}
.signupForm button[type="submit"]:hover{
	background:#332E2E;
}

.loginForm input{
	color:black;
	margin-top: 25px;
	width: 200px;
}
.loginForm a{
	margin-top: 10px;
}

.loginForm button[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	width: 200px;
	color:#FFFFFF;
	background:#262626;
	margin-top: 25px;
	margin-bottom: 25px;
}

