.leftBar {
	position: fixed;
	float: left;
	min-width: 15%;
	min-height: 89%;
	overflow: hidden;
	background-color: #232b2b;
}

.modal {
	display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
	.dialog-header-error span, .dialog-header-error h4,
	.dialog-header-wait span, .dialog-header-wait h4,
	.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

.contentPane {
	min-width: 73%;
	max-width: 73%;
	/*float: left;*/
	position: absolute;
	left: 15%;
	min-height: 150vh;
	background-color: #3b444b;
	padding-bottom: 20%;
}

.rightBar {
	position: fixed;
	right: 0px;
	background-color: #232b2b;
	min-width: 12%;
	max-width: 12%;
	/*float: right;*/
	overflow: hidden;
	min-height: 150vh;
}
body {
	margin: 0 0 0 0;
	color: white;
	font-family: 'Montserrat';
}

.navbar {
	min-height: 10vh;
}

#searchBar {
	width: 25vh;
	float: left;
	margin-right: 5px;
}

#searchDiv {
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;
}

#userNameDiv {
	margin-top: 5px;
	margin-right: 25px;
	float: right;
}

#playlistInfo {
	margin-top: 30px;
	margin-left: 10px;
}

#playlistName {
	text-align: center;
}

#playlistPlay {
	margin-right: 25vh;
	background-color: #4CAF50;
	border: none;
}

#currentSongArtist {
	margin-top: -20px;
}

.leftBarLinks {
	margin-left: 10px;
	position: relative;
}

.buttonDiv {
	position: absolute;
	min-width: 100%;
	left: 45%;
	top: 5%;	
        /*padding: ;*/
}

.musicButtons {
	border-radius: 20%;
	background-color: #4CAF50;
	border: none;
}

.musicButtons:hover {
	background-color: #224e24;
}

.progress {
	margin-left: 500px;
}

.progress-bar-green {
	background-color: #4CAF50 !important;
}

.browseContent {
	margin-top: 30px;
	margin-left:10px;
	margin-bottom: 25px;
	text-align:center;
	padding-left: 145px;
}

.music {
	margin-left:10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
	background-color: #4CAF50 !important;
}

.nav-pills {
    border-radius: 5%;
}

.nav-pills > li > a:hover {
    background-color: #4CAF50;
    color: inherit;

}

.nav-pills > li > a:focus {

}

a {
    color: white;
    /*text-decoration:none; */
}

a:hover, a:active {
    color: #4CAF50 !important;
    /*text-decoration: none;*/
    filter: brightness(60%) !important;
}

a:active, a:focus {
    color: #4CAF50;
    text-decoration: none;
}

.imageSize {
	height: 250px;
	width: 250px;
	/*border-radius: 35%;*/
	margin-bottom: 15px;
}

.song {
	margin-left: 50px;
	float: left;
	text-align: center;
	width: 275px;
	margin-bottom: 25px;
}

.caption {
	margin-left: -15px;
}
.songButtons {
	background-color: #3b444b;
	border-width: 1px;
	border-color: #ffffff;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.songButtons:hover {
	background-color: #3b444b;
	transform: scale(1.05);
}
#homeLink {
	margin-top: .5em;
	font-size: 1.5em;
}

.userInfo{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 100px;
}

#songInfo{
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 45px;
}

.usernav{
	font-size: 150%;
}

.usernav:hover, .usernav:focus .usernav:active {
    filter: brightness(80%) !important;
}

.userName{
	font-size: 500%;
}

.userPad{
	padding-left: 50px;
}


.userInfoPrag{
	margin-left: 60px;
	
	font-size: 16px;
}
.userInfoPrag a{
	margin-left: 20px;
    text-align: left;
}

.userImage{
	height: 200px;
	width: 200px;
	margin-left: 50px;
}

.userImage2{
	height: 200px;
	width: 200px;
}
.userImage:hover {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}

.imageHover {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.imageHover:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}
.row{
	display: table;
	margin-left: 10px;
	width: 100%;
	
}
.row p{
	font-size: 13px;
}

.sorted{
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.albumsInfo{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#sortedSelection{
	background-color: inherit;
}
#sortedOption{
	background-color:#3b444b;
}
.modal-title{
	color: black;
	font-weight: bold;
	font-size: 16px;
}

.form-group{
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.selected {
  background-color: green;
}

.premuiumInfo{
	color: black;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 50px;
}

#addPlaylist{
	
}
#userInfo >input{
	display: none;
}

.logout {
    background-color: #FF3232;
    border-width: 0px;
}   

.logout:hover {
    background-color: #FF3232 !important;
    filter: brightness(80%) !important;
}

.blueDrop:hover {
    background-color: #428BCA !important;
    filter: brightness(80%) !important;
}
.logout:active {
    background-color: #FF3232;
}

.upgradePrem {
    margin-top: 0%;
    margin-bottom: 0%;
}

.green {
    background-color: #4CAF50;
}

.green:hover {
	background-color: #4CAF50;
	filter: brightness(80%) !important;
}

.btn {
    border-width: 0px;
}

.dropdownButton, .dropdownButton:hover, .dropdownButton:active, .dropdownButton:visited{
    color: white;
}

.dropdown-menu {
    background-color: #3B444B;
}
.dropdownElement {
    width: 100%;
}


.searchBar {
    min-height: 60px;
    width: 73%;
    margin-left: 15%;
    background-color: #3B444B;
    border-bottom: 2px solid #D3D3D3;
}

.trueToggle {
    background: red
}

tr:hover, tr:focus{
    background-color: rgba(0,0,0, .25) !important;
}

thead > tr:hover, thead > tr:focus {
	background-color: #3B444B !important;
}

.songDropDown {
    background-color: rgba(0,0,0, .25) !important;
}

