body{
	margin:0px;
	padding:0px;
	background-color: #3b444b;
	font-family: 'Montserrat' !important
}

.loginForm{
	text-align:center;
	margin-top: 3%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}

#signIn {
    background-color: #4CAF50;
    outline: none;
}

#signIn:hover {
    filter: brightness(80%) !important;
}

.loginButtons {
    font-color: white;
    width: 200px;
    margin-left: -2px;
}

.loginLogo {
    height: 200px;
    width: 266px;
    position: absolute;
    left: 43%;
    top: 7%;
    border-radius: 5%;
}

.form-control {
    margin-left: 44.75%;
}
.loginForm input{
	color:black;
	margin-top: 25px;
	width: 200px;
}
.loginForm a{
	margin-top: 10px;
}
.loginForm button[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	width: 200px;
	color:#FFFFFF;
	background:#262626;
	margin-top: 25px;
	margin-bottom: 25px;
}
.loginForm button[type="submit"]:hover{
	background:#332E2E;
}
.loginHeader2{
	text-align: center;
	margin-top: 15.5%;
	padding-bottom: 0px;
}

.signupForm{
	margin-left:10px;
	text-align:left;

}
.signupForm input{
	color:black;
	margin-bottom: 25px;
	width: 200px;
}
.signupForm a{
	margin-top: 10px;
}
.signupForm button[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	width: 200px;
	color:#FFFFFF;
	background:#262626;
	margin-top: 25px;
	margin-bottom: 25px;
}
.signupForm button[type="submit"]:hover{
	background:#332E2E;
}
.formBox{
	width: 10%;
	margin-left: 40%;
}