/*Erik CSS*/
@charset "utf-8";

#userPage {
	background-color: #a9a9a9;
}

.text{
	color: #FFFFFF;
}

.userNav li {
    display: inline-block;
    text-align: center;
}

#header {
  position: fixed;
}

.managerHeader{
	padding-left: 10px;
	color: #FFFFFF;
}

#text{
	color: white;
	text-align: center;
}

#manageForm{
	padding-right: 50px;
}

.manageButton{
	margin-left: 350px;
	text-align: center;
	width: 160px;
}

.overflow{
	Overflow-y: scrollable;
	height: 50%;
}

/*.#manageButton{
	margin-left: 375px;
	text-align: center;
	width: 180px;
}*/