

	<div class="contentPane">
		<div id="searchDiv">
			<form style="overflow: hidden;">
				<input type="text" class="form-control" placeholder="Search" id=searchBar>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</form>
		</div>	
		
		<div id="userNameDiv">
				Username 
		</div>
		<div class="albumsInfo">
			<h1>Albums</h1>
		</div>
		<div class="sorted">
			<label>Sorted by</label>
			<select id="sortedSelection">
				<option id="sortedOption" value="Artist">Artist</option>
				<option id="sortedOption" value="Title">Title</option>
				<option id="sortedOption" value="Recently Added">Recently Addded</option>
			</select>
		</div>
		

		<div class="music">
			<div class="song">
				<a href="album.html">
					<img  class="imageSize albumArt" src="images/Dark_Side_of_the_Moon.png" style="float: left;">
				</a>
				<a href="album.html">
					<h4 class="caption"> Dark Side of the Moon <h4>
					
				</a>
				<a href="#">
					<h4 class="caption"> Rata Ora <h4>
					
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/piano.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Classic Piano Music <h4>
				</a>
				<a href="#">
					<h4 class="caption"> Luis Fonsi <h4>	
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/studying.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Soothing Studying Music <h4>
				</a>
				<a href="#">
					<h4 class="caption"> Artist's name <h4>	
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/mm.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Modest Mouse <h4>
				</a>
				<a href="#">
					<h4 class="caption"> Artist's name <h4>	
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/hiphop.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> The Best of Hip-Hop <h4>
				</a>
				<a href="#">
					<h4 class="caption"> Artist's name <h4>	
				</a>
			</div><br>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/queen.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Queen Hits <h4>
				</a>
				<a href="#">
					<h4 class="caption"> Artist's name <h4>	
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/ratm.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Rage Against The Machine <h4>
				</a>
				<a href="#">
					<h4 class="caption"> Artist's name <h4>	
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/kanye.jpg" style="float: left;">

				</a>
				<a href="#">
					<h4 class="caption"> Kanye West <h4>
				</a>
				<a href="#">
					<h4 class="caption"> Artist's name <h4>	
				</a>
			</div>

		</div>
		
	</div>

