<!DOCTYPE HTML>
<html>
<head>
    <title> Home </title>

    <meta charset = "utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/v2.3.8/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/v2.3.8/angular-strap.tpl.min.js"></script>
    <link rel="stylesheet" href="css/homeStyle.css">
    <script src="js/home.js"></script>
</head>

<body>
<div ng-app = "myHome" ng-controller = "homeCtrl" class="mainContainer">
    <div class="leftBar">
        <div class="leftBarLinks">
            <a href=#/ id = "homeLink">Home</a><br>

            <button class="btn btn-primary btn-sm" id=""  type="button" data-target="#upgrade" data-toggle="modal">Upgrade To Premium
            </button>

            <form  action = "/logout" method = "POST">
                <input class = "btn btn-primary playlistPlay" type="submit" name="Logout" value="Logout" />
            </form>
            <h2> Your Library </h2>
            <div style="line-height: 200%;">
                <a href="#recentlyPlayed"> Recently Played </a><br>
                <a href="#song"> Songs </a><br>
                <a href="#albums"> Albums </a><br>
                <a href="#artists"> Artists </a><br>
                <a href="#local"> Local Files </a>
            </div>

            <h2> Playlists </h2>
            <div style="line-height: 200%">

                <div ng-repeat="(name, id) in playlists"><a href="#playlist/{{id}}" >{{name}}</a></div>
            </div>
            <button class="btn btn-primary btn-sm" id="addPlaylist" type="button" data-target="#newPlaylist" data-toggle="modal">Add New PlayList
            </button>
        </div>
    </div>

    <div class="ng-view"></div>


        <div class="rightBar">
            <h3 style="margin-left: 20px;"> Friends Activity </h3>
        </div>


        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Current Song Name</a><br>
                    <a class="navbar-brand" href="#" id="currentSongArtist">Current Song Artist</a>
                </div>
                <div class="buttonDiv">

                    <button class="btn btn-default musicButtons" style="margin-right: 20px;"> <span class="glyphicon glyphicon-random"></span></button>
                    <button class="btn btn-default musicButtons"> <span class="glyphicon glyphicon-step-backward"><span></button>
                    <button class="btn btn-default musicButtons"> <span class="glyphicon glyphicon-play"></span></button>
                    <button class="btn btn-default musicButtons"> <span class="glyphicon glyphicon-step-forward"></span></button>
                    <button class="btn btn-default musicButtons" style="margin-left: 20px;"> <span class="glyphicon glyphicon-repeat"></span></button>
                </div>	<br>
            </div>
            <div class="progress" style="width:50%;">
                <div class="progress-bar progress-bar-striped active progress-bar-green" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
            </div>
        </nav>
    </div>
    <div class="modal" id="upgrade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title" >Upgrade To Premium</p>
                </div>
                <div class="modal-body">
                    <form class="upgradeForm" >
                        <div class="premuiumInfo">
                            <h1>Premium free for 30 days: $9.99</h1>
                            <ul>
                                <li>Download Music</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input class="form-control" placeholder="Name" type="text" id="cardName">
                        </div>
                        <div class="form-group">
                            <label for="Name">Card Number</label>
                            <input class="form-control" placeholder="Card Number" type="text" id="cardNum">
                        </div>
                        <div class="form-group">
                            <label for="Name">Expiration Date</label>
                            <input class="form-control"  type="month" id="cardMon">
                        </div>
                        <div class="form-group">
                            <label for="Name">Security Code</label>
                            <input class="form-control" placeholder="Security Code" type="text" id="cardCode">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Start Premium</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
    <div   class="modal" id="newPlaylist" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title" >Create New Playlist</p>
                </div>
                <div class="modal-body">
                    <form ng-submit= "createPlaylist()" class="upgradeForm" >
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" name="imageFile">
                        </div>

                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input class="form-control" placeholder="Name" type="text" id="playlistName">
                        </div>
                        <div class="form-group">
                            <label for="Name">Description</label>
                            <textarea class="form-control" placeholder="Decription" type="textarea" id="description" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary">Create</button>
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</body>



