

	<div class="contentPane">
		<div id="searchDiv">
			<form style="overflow: hidden;">
				<input type="text" class="form-control" placeholder="Search" id=searchBar>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</form>
		</div>

		<div id="userNameDiv">
				Username
		</div>

		<div class=browseContent>
			<h1> Browse </h1><br><br>

			<ul class="nav nav-pills">
				<li role="presentation" class="active"><a href="#">Overview</a></li>
				<li role="presentation"><a href="#">Charts</a></li>
				<li role="presentation"><a href="#">Genres &amp; Moods</a></li>
				<li role="presentation"><a href="#">New Release</a></li>
				<li role="presentation"><a href="#">Concerts</a></li>
				<li role="presentation"><a href="#">More</a></li>
			</ul>
		</div>

		<div ng-model="songs" class="music">
			<div class="song">
				<a href="album.html">
					<img  class="imageSize albumArt" src="images/Dark_Side_of_the_Moon.png" style="float: left;">
				</a>
				<a href="album.html">
					<h4 class="caption"> Dark Side of the Moon <h4>
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/piano.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Classic Piano Music <h4>
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/studying.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Soothing Studying Music <h4>
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/mm.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Modest Mouse <h4>
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/hiphop.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> The Best of Hip-Hop <h4>
				</a>
			</div><br>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/queen.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Queen Hits <h4>
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/ratm.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Rage Against The Machine <h4>
				</a>
			</div>

			<div class="song">
				<a href="#">
					<img  class="imageSize albumArt" src="images/kanye.jpg" style="float: left;">
				</a>
				<a href="#">
					<h4 class="caption"> Kanye West <h4>
				</a>
			</div>

		</div>
		<!-- <div id="playlistInfo">
			<img src="Dark_Side_of_the_Moon.png" style="float: left;">
			<div id=playlistName>
				<h2> Insert Playlist/Album </h2>
				<h3> Insert Playlist/Album Name Here </h3>
				<h1> By: Insert Artist Here </h1>

				<button class="btn btn-primary" id="playlistPlay" type="submit">
					Play All
				</button>
			</div>
		</div> -->

		<!-- <div id="playlistSongs">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Artist</th>
						<th>Album</th>
						<th>Song Length</th>
					</tr>
				</thead>
			</table>
		</div> -->
	</div>
