<!DOCTYPE HTML>
<html>
<head>
<title> Login </title>

<meta charset = "utf-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<link rel="stylesheet" href="css/homeStyle.css">
<link rel="stylesheet" href="css/login.css">
</head>

<body>
<div class="mainContainer">
	

	<div class="pane">
			

		

		<div ng-controller="formController">
			<h2 class="loginHeader2">Spotify Login</h2>
			<form class="loginForm" action="/login" method="post">
					
				
				<br/>
				<input type="text" name="userName" placeholder="UserName" ng-model="user.name" required="required">
				<br/>
				<input type="password" name="Passwords" placeholder="Password" ng-model="user.password" required="required">
				<br/>
				<button type="submit" name="sigin_bnt" value="Sign In">Sign In</button>
				<br/>
				<a href="#">Forgot Password</a>
				<br/>
				<a href="signup.html">Sign Up</a>
				<br/>
				<a href="homepage.html">Home</a>
				
			</form>

		</div>
		
	</div>

	


	
</div>
</body>
