<!DOCTYPE HTML>
<html>
<head>
<title> Sign Up </title>

<meta charset = "utf-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<link rel="stylesheet" href="css/homeStyle.css">
<link rel="stylesheet" href="css/login.css">
<script src="js/signUp.js"></script>
</head>

<body>
	<div class="mainContainer" style="min-height: 25vh;">
		<div class="pane">
			<div ng-app="signUp" ng-controller="formCtrl" style="margin-top: -7em;">
				<h2 class="loginHeader2">Spotify Sign Up</h2>
				<div class="formBox">
					
					<form  class="signupForm" action="/signup" method = "post">
						<br/>
						<label>First Name:             </label><br/>
						<input type="text" name="FirstName" placeholder="First Name" ng-model="firstName" required="required">
						<br/>
						<label>Last Name:             </label><br/>
						<input type="text" name="LastName" placeholder="Last Name" ng-model="lastName" required="required">
						<br/>
						<label>Email                 :</label><br>
						<input type="email" name="email" placeholder="Email" ng-model="email" required="required">
						<br/>
						<label>Date Of Birth:         </label><br>
						
						<input type="date" name="date" placeholder="yyyy-mm" >
						<br/>
						<label>Password:              </label><br>
						
						<input type="password" name="Password1" placeholder="Password" ng-model="password" required="required">
						<br/>
						<label>Password Confirmation: </label><br>
						<input type="password" name="Password2" placeholder="Password Confirmation" ng-model="password2" required="required">
						<br/>
						<div ng-model="errorText" style = "display: none;">Passwords do not match</div>
						<button ng-click="signUpSubmit()">Create New Account</button>
						<br/>
						<a href="homepage.html">Back To Home</a>
					</form>		
				</div>
			</div>			
		</div>
	</div>
</body>

