@charset "utf-8";
/* CSS Document:Yiyuan Zheng */

body{
	margin:0px;
	padding:0px;
}
#sidebar{
	position: fixed;
    background:black;
    width:200px;
    height:100%;
    display:block;
    left:-200px;
    top:0px;
    transition:left 0.3s linear;
}

#sidebar.activate{
    left:0px;
    transition:left 0.3s linear;
}

#sidebar ul{
    margin:0px;
    padding:0px;
}

#sidebar ul li{
    list-style:none;
}
#sidebar ul li a{
	color: white;
	list-style: none;
	margin-top: 20px;
    display:block;
    text-decoration: none;
	
}

#playList{
	margin-top: 150px;
}
#playList ul{
	
}

#sideBtn{
    display:inline-block;
    width:20px;
    height:18px;
    cursor:pointer;
    margin:10px;
    position:absolute;
    top:0px;
    right:-50px;
}

#sideBtn span{
	
	background-color: black;
	margin-top:5px;
    height:2px;
    margin-bottom:5px;
    display:block;
}
.navigation ul{
	padding: 0;
	background-color:white;
	list-style: none; 
	height: 20%;
	width: 100%;
	margin: 0;
	text-align: center;
	
	
}
.navigation li{
	 display: inline-block;
    text-align: center;
}
.account{
	float: right;
	top:5px;
}


.navigation li .account{
	right:10px;
	top:5px;
}

.horiazontalNav{
	
	
}
.horizontalNav ul{
	padding: 0;
	background-color:black;
	list-style: none; 
	height: 20%;
	width: 100%;
	margin: 0;
	text-align: center;
	
}

.horizontalNav ul li{
	border-bottom: 1px;
	
	padding: 0;
	margin: 0;
}

.horizontalNav ul li a{
	display: block;
	color:white;
	padding:20px;
	text-decoration: none;	
}
.horizontalNav a:hover{
	background-color: darkgray;
}

.horizontalNav li {
    display: inline-block;
    text-align: center;
  }



.row{
	margin-top: 50px;
	display:table;
	text-align: center;
	float: left;
	width: 100%;
	margin-bottom: 40px;
}


.col{
	display: table-cell;
	border:1px;
	border-color: black;
	width: 240px;
	max-height: 400px;
}

