.leftBar {
	position: fixed;
	float: left;
	min-width: 15%;
	min-height: 88%;
	overflow: hidden;
	background-color: #232b2b;
}

.contentPane {
	min-width: 73%;
	/*float: left;*/
	position: absolute;
	left: 15%;
	min-height: 150vh;
	background-color: #3b444b;
}

.rightBar {
	position: fixed;
	right: 0px;
	background-color: #232b2b;
	min-width: 12%;
	/*float: right;*/
	overflow: hidden;
	min-height: 150vh;
}
body {
	margin: 0 0 0 0;
	color: white;
}

.navbar {
	min-height: 10vh;
}

#searchBar {
	width: 25vh;
	float: left;
	margin-right: 5px;
}

#searchDiv {
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;
}

#userNameDiv {
	margin-top: 5px;
	margin-right: 25px;
	float: right;
}

#playlistInfo {
	margin-top: 30px;
	margin-left: 10px;
}

#playlistName {
	text-align: center;
}

#playlistPlay {
	margin-right: 25vh;
	background-color: #4CAF50;
	border: none;
}

#currentSongArtist {
	margin-top: -20px;
}

.leftBarLinks {
	margin-left: 10px;
	position: relative;
}

.buttonDiv {
	position: absolute;
	min-width: 100%;
	left: 45%;
	top: 5%;	
        /*padding: ;*/
}

.musicButtons {
	border-radius: 20%;
	background-color: #4CAF50;
	border: none;
}

.musicButtons:hover {
	background-color: #224e24;
}

.progress {
	margin-left: 500px;
}

.progress-bar-green {
	background-color: #4CAF50 !important;
}

.browseContent {
	margin-left:10px;
	margin-bottom: 25px;
}

.music {
	margin-left:10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
	background-color: #4CAF50 !important;
}

.imageSize {
	height: 250px;
	width: 250px;
	/*border-radius: 35%;*/
	margin-bottom: 15px;
}

.song {
	margin-left: 50px;
	float: left;
	text-align: center;
	width: 275px;
	margin-bottom: 25px;
}

.caption {
	margin-left: -15px;
}
.songButtons {
	background-color: #3b444b;
	border-width: 1px;
	border-color: #ffffff;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.songButtons:hover {
	background-color: #3b444b;
	transform: scale(1.05);
}
#homeLink {
	margin-top: -1em;
	font-size: 2em;
}

#userInfo{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 150px;
}

#songInfo{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 50px;
}


#userInfoPrag{
	margin-left: 60px;
	
	font-size: 16px;
}
#userInfoPrag a{
	margin-left: 20px;
    text-align: left;
}

.userImage{
	height: 150px;
	width: 150px;
	
}
.userImage:hover {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}

.row{
	display: table;
	margin-left: 10px;
	width: 100%;
	
}
.row p{
	font-size: 13px;
}

.sorted{
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.albumsInfo{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#sortedSelection{
	background-color: inherit;
}
#sortedOption{
	background-color:#3b444b;
}
.modal-title{
	color: black;
	font-weight: bold;
	font-size: 16px;
}

.form-group{
	color: black;
	font-weight: bold;
	font-size: 14px;
}

.premuiumInfo{
	color: black;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 50px;
}

#addPlaylist{
	
}
#userInfo >input{
	display: none;
}
