.loginForm{
	margin-left:10px;
	text-align:center;
	
}
.loginForm input{
	color:black;
	margin-top: 25px;
	width: 200px;
}
.loginForm a{
	margin-top: 10px;
}
.loginForm button[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	width: 200px;
	color:#FFFFFF;
	background:#262626;
	margin-top: 25px;
	margin-bottom: 25px;
}
.loginForm button[type="submit"]:hover{
	background:#332E2E;
}
.loginHeader2{
	text-align: center;
	margin-top: 10%;
}

.signupForm{
	margin-left:10px;
	text-align:left;
	
}
.signupForm input{
	color:black;
	margin-bottom: 25px;
	width: 200px;
}
.signupForm a{
	margin-top: 10px;
}
.signupForm button[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	width: 200px;
	color:#FFFFFF;
	background:#262626;
	margin-top: 25px;
	margin-bottom: 25px;
}
.signupForm button[type="submit"]:hover{
	background:#332E2E;
}
.formBox{
	width: 10%;
	margin-left: 40%;
}