.leftBar {
	position: fixed;
	float: left;
	min-width: 18%;
	min-height: 100%;
	overflow: hidden;
	background-color: #232b2b;
}

.contentPane {
	min-width: 82%;
	float: right;
	overflow: auto;
	min-height: 150vh;
	background-color: #3b444b;
}

body {
	margin: 0 0 0 0;
	color: white;
}

.navbar {
	min-height: 10vh;
}

#searchBar {
	width: 25vh;
	float: left;
	margin-right: 5px;
}

#searchDiv {
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;
}

#userNameDiv {
	margin-top: 5px;
	margin-right: 25px;
	float: right;
}

#playlistInfo {
	margin-top: 30px;
	margin-left: 10px;
}

#playlistName {
	text-align: center;
}

#playlistPlay {
	margin-right: 25vh;
	background-color: #4CAF50;
	border: none;
}

#currentSongArtist {
	margin-top: -20px;
}

.leftBarLinks {
	margin-left: 10px;
}

