/*Erik CSS*/
@charset "utf-8";

#userPage {
	background-color: #a9a9a9;
}

img {
	border-style: solid;
	border-color: black;
}

.text{
	color: #FFFFFF;
}

.userNav li {
    display: inline-block;
    text-align: center;
}

#header {
  position: fixed;
}